

.banner {    height: 65px;
    margin: 0px 10px 0px;
    background-color: rgb(66, 247, 190);
    border-radius: p2x;
}


.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 5%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}
Footer
